$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));